<%@ Master Language="C#" MasterPageFile="~/masterpages/CLCBlankMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="cp_content" runat="server">
	<umbraco:Macro Alias="CLC-SetMembers" runat="server"></umbraco:Macro>
</asp:content>