<%@ Master Language="C#" MasterPageFile="~/masterpages/ForumMaster.master" AutoEventWireup="true" %>

<asp:Content ID="Content1" ContentPlaceHolderId="ForumBody" runat="server">
<h1>Login</h1>
<umbraco:Macro Alias="nForumLoginForm" runat="server"></umbraco:Macro>
</asp:Content>