<%@ Master Language="C#" MasterPageFile="~/masterpages/ForumMaster.master" AutoEventWireup="true" %>


<asp:Content ID="Content1" ContentPlaceHolderId="ForumBody" runat="server">
  <h1><umbraco:Item field="forumTextPageMainHeading" runat="server"></umbraco:Item></h1>
  
  <umbraco:Item field="forumTextPageContent" runat="server"></umbraco:Item>
</asp:Content>

  