<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
        <add name="memberprofilerewrite"
            virtualUrl="^~/member/(.*).aspx"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/clcmemberprofile.aspx?mem=$1"
            ignoreCase="true" />
        <add name="setmemberswrite"
        virtualUrl="^~/setmember/(.*).aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/pages/CLC/SetMembers.aspx?groupid=$1"
        ignoreCase="true" />
    </rewrites>
</urlrewritingnet>