.grid_12.full
{
  width: 960px;
  margin-left: 0px;
  margin-right: 0px;
}

html
{
  font-family: Calibri, Arial, Sans-Serif;
  font-size: 14px;  
  
  background-color: #000000;
  background-image: url('clc/background_website.png');
  background-position: center top;
  background-repeat: no-repeat;
}

h2
{
  font-size: 45px;
}

h3
{
  font-size: 25px;
}

.kaffeeSatz
{
  font-family: 'YanoneKaffeesatzRegular';
}

b, strong
{
  font-weight: bold;
}

a
{
  text-decoration: underline;
}

.c1
{
  color: #0077bd;
}

.c2
{
  color: #000000;
}

#mainContainer
{
  margin-top: 20px;
  margin-bottom: 20px;
  
  background-image: url('clc/background_content.png');
  background-position: left top;
  background-repeat: repeat;
}

#headerContainer
{
  height: 100px;  
  margin-top: 15px;
}

#header
{
  float: left;
  padding-right: 80px;
  padding-top: 8px;
  height: 84px;
  
  background-image: url('clc/logo_clc.png');
  background-position: right top;
  background-repeat: no-repeat;
}

#header .headerTitle, #header .headerSubTitle
{
  display: block;
}

#header .headerTitle
{
  font-size: 45px;
}

#header .headerSubTitle
{
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-top: -8px;
}

#searchContainer
{
  float: right;
}

#mainMenuContainer
{
  height: 26px;
  
  background-color: #242424;
}

.mainMenu
{
  float: left;
  height: 26px;
}

.mainMenu li
{
  float: left;
  height: 26px;
}

.mainMenu a, .mainMenu span, .loginContainer span, .loginContainer a
{
  color: #ffffff;
  text-decoration: none;
  line-height: 26px;
  text-transform: lowercase;
}

.mainMenu a:hover, .loginContainer a:hover
{
  text-decoration: underline;
}

.mainMenu span
{
  margin-left: 15px;
  margin-right: 15px;
}

.loginContainer
{
  float: right;
}

.loginContainer span
{
  margin-left: 5px;
  margin-right: 5px;
}

#searchText
{
  float: left;
  height: 23px;
  width: 125px;
  padding-left: 5px;
  
  background-color: #ffffff;
  color: #000000;
  border: 0px none;
}

#searchButton
{
  float: left;
  width: 21px;
  height: 23px;
  cursor: pointer;
  
  border: 0px none;
  background-image: url('clc/button_zoeken.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #ffffff;
}

#brandboxContainer
{
  margin-top: 15px;
  height: 200px;
  position: relative;
}


.brandboxItem, .brandboxItemTitle, .brandboxItemText
{
  height: 180px;
  overflow: hidden;
  
  background-color: transparent !important;
}

.brandboxItemTitle h2
{
  font-size: 60px;
  line-height: 60px;
}

.brandboxItemText span
{
  font-size: 25px;
  line-height: 35px;
}

#brandboxPager
{
  position: absolute;
  height: 12px;
  bottom: 15px;
  right: 15px;
}

.brandboxPagerItem
{
  float: left;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  z-index: 500;
  
  background-color: #000000;
}

.brandboxPagerItem.activeSlide
{
  background-color: #929292;
}

.fatBorder
{
  padding-top: 5px;
  
  border-top: 5px solid #242424;
}

.thinBorder
{
  border-bottom: 1px solid #585858;
}

.topicSummary
{
  padding-top: 15px;
  padding-bottom: 15px;
}

.topicSummary.anchorItem
{
  cursor: pointer;
}

.topicHeader, .topicDate, .topicText, .topicCount, .memberCount, .nextEvent
{
  float: left;
  width: 100%;
}

.topicHeader
{
  font-weight: bold;
  text-decoration: none;
}

.topicSummary.anchorItem:hover .topicHeader
{
  text-decoration: underline;
}

.topicSummary.anchorItem:hover
{
  background-image: url('clc/topicsummary_hover_bg.png');
  background-repeat: repeat;
  background-position: left top;
}

#footerContainer
{
  height: 165px;
  margin-top: 15px;

  background-color: #242424;
}

#footerMenu
{
  margin-top: 20px;
  padding-top: 15px;
  
  border-top: 1px solid #ffffff;
}

#copyrightContainer
{
  float: left;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

#crossReferencesContainer a
{
  text-decoration: none;
}

#crossReferencesContainer a:hover
{
  text-decoration: underline;
}

#crossReferencesContainer ul
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.relevantTopic
{
  margin-bottom: 15px;
}

#contentContainer.home
{
  margin-top: 0px;
}

#contentContainer
{
  margin-top: 20px;
}

#inlogInfoContainer
{
  padding-left: 13px;
  
  border-left: 2px solid #878787;
}

#inlogFormContainer h3, #inlogInfoContainer h3
{
  margin-bottom: 20px;
}

input[type='text'], input[type='password'], textarea
{
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 32px;
  
  border: 0px none;
  background-color: #242424;
}

input[type='text'], input[type='password']
{
  height: 32px;
}

#inlogFormContainer input[type='text'], #inlogFormContainer input[type='password']
{
  width: 250px;
  margin-bottom: 15px;
}

#inlogFormContainer input[type='submit']
{
  height: 32px;
  width: 90px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  display: block;
  
  background-color: #0077BD;
  border: 0px none;
}

#inlogFormContainer input[type='submit'], #inlogFormContainer input[type='checkbox'], #inlogFormContainer label
{
  float: left;
}

#inlogFormContainer input[type='checkbox']
{
  margin-left: 10px;
  margin-top: 18px;
}

#inlogFormContainer label
{
  margin-left: 5px;
  margin-top: 16px;
  text-decoration: underline;
}

#inlogFormContainer a
{
  margin-top: 15px;
  float: left;
  text-decoration: underline;
}

#inlogInfoContainer p
{
  margin-bottom: 15px;
}
 
#kruimelpad
{
  height: 25px;
  line-height: 20px;
  font-weight: bold;
}
 
#kruimelpad a
{
  text-decoration: none;
  font-weight: bold;
}
 
#kruimelpad a:hover
{
    text-decoration: underline;
}

#description
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.topicInfo
{
  float: left;
  width: 100%;
}

.topicInfo .separator
{
  margin-left: 5px;
  margin-right: 5px;
}

.showAll
{
  margin-top: 15px;
  display: block;
}

#documentenContainer
{
  margin-top: 15px;
}

.anchorList
{
  margin-top: 15px;
  list-style-type: disc;
  list-style-position: inside;
}

.anchorList li
{
  width: 50%;
  height: 20px;
  overflow: hidden;
  float: left;
}

.anchorList li a
{
  text-decoration: none;
}

.anchorList li a:hover
{
  text-decoration: underline;
}

#prikbordContainer
{
  margin-top: 15px;
}

#projectenListContainer
{
  margin-top: 15px;
}
.agendaDate
{
  float: left;
  width: 32px;
  height: 25px;
  background-image: url('clc/background_agenda_date.png');
  background-position: top left;
  color: #FFFFFF;
  font-size: 11px;
  text-align: center;
}

#newDiscussionContainer
{
  overflow: hidden;
}

.newDiscussionSummary
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.discussionSubject
{
  margin-top: 15px;
  width: 100%;
}
.maxWidthInput
{
    width: 100%;
}
#emoticonholder
{
  margin-top: 15px;
}

/*--- AJAX Post Tooltip ---*/
#ajaxpostcontainer{ position:absolute; left:0; top:0; display:none; z-index: 20000;}
#ajaxpostcontent{ background-color: #FFF; width: 300px; min-height: 70px; overflow:auto; display:block; -moz-border-radius:7px; -webkit-border-radius:7px; -khtml-border-radius:7px; border-radius:7px;  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); border:1px #CCC solid; padding:10px;}
#ajaxpostcontent h5 { margin:0 0 4px 0; font-size:12px; font-weight:bold; color:#999999;} 
#ajaxpostcontent p { margin:0;}

.post, .postDetails, .postContent, .postActions, #newPost
{
  float: left;
  width: 100%;
}

.post
{
  padding-top: 15px;
  padding-bottom: 15px;
}

.postDetails b
{
  float: left;
  width: 100%;
}

.postContent
{
  margin-top: 5px;
}

.postContent p
{
  margin-bottom: 5px;
  margin-top: 5px;
  float: left;
  width: 100%;
}

.lastedited
{
  font-weight: bold;
}

.postActions a
{
  float: left;
  margin-right: 10px;
}

#newPost
{
  margin-top: 15px;
  overflow: hidden;
}

#newPost .button, .newDiscussionContent .button, #editPostContainer .button, #newNoticeContainer .button
{
  margin-top: 15px;
}

.pagerLabel
{
  float: left;
  margin-right: 10px;
  margin-top: 15px;
}

.pager
{
  float: left;
  margin-top: 15px;
}

.pager li
{
  float: left;
  margin-right: 5px;
}

.pager a
{
  color: #0077bd;
}

.pager .current a
{
  font-weight: bold;
}

#editPostContainer
{
  overflow: hidden;
}

.info
{
  position: absolute;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  padding: 15px;
  margin-left: -116px;
  margin-top: -66px;
  z-index: 5;
  
  background-image: url("clc/background_content.png");
  background-position: left top;
  background-repeat: repeat;
  background-color: white;
  border: 1px solid black;
}

.info a
{
  float: right;
}

.info p
{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#profileContainer h3.c1
{
	margin-top: 15px;
}

.profileItem .label
{
	float: left; 
	width: 150px;
}

.profileItem .separator
{
	float: left;
}

.profileItem .value
{
	float: left;
	margin-left: 15px;
}

#topiclistheadbuttons
{
	margin-bottom: 15px;
}

#newNoticeContainer
{
	margin-top: 15px;
	overflow: hidden;
}

#newNoticeContainer textarea
{
	float: left;
	width: 100%;
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
