<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbBlog ANY>
<!ATTLIST umbBlog id ID #REQUIRED>
<!ELEMENT umbBlogPost ANY>
<!ATTLIST umbBlogPost id ID #REQUIRED>
<!ELEMENT CLC-Discussion ANY>
<!ATTLIST CLC-Discussion id ID #REQUIRED>
<!ELEMENT CLC-Homepage ANY>
<!ATTLIST CLC-Homepage id ID #REQUIRED>
<!ELEMENT CLC-MediaSharing ANY>
<!ATTLIST CLC-MediaSharing id ID #REQUIRED>
<!ELEMENT CLC-Membergroup ANY>
<!ATTLIST CLC-Membergroup id ID #REQUIRED>
<!ELEMENT CLC-Post ANY>
<!ATTLIST CLC-Post id ID #REQUIRED>
<!ELEMENT DateFolder ANY>
<!ATTLIST DateFolder id ID #REQUIRED>
<!ELEMENT Forum ANY>
<!ATTLIST Forum id ID #REQUIRED>
<!ELEMENT ForumCategory ANY>
<!ATTLIST ForumCategory id ID #REQUIRED>
<!ELEMENT ForumDateFolder ANY>
<!ATTLIST ForumDateFolder id ID #REQUIRED>
<!ELEMENT ForumLogin ANY>
<!ATTLIST ForumLogin id ID #REQUIRED>
<!ELEMENT ForumPost ANY>
<!ATTLIST ForumPost id ID #REQUIRED>
<!ELEMENT ForumRegister ANY>
<!ATTLIST ForumRegister id ID #REQUIRED>
<!ELEMENT ForumSearch ANY>
<!ATTLIST ForumSearch id ID #REQUIRED>
<!ELEMENT ForumTextPage ANY>
<!ATTLIST ForumTextPage id ID #REQUIRED>
<!ELEMENT ForumTopic ANY>
<!ATTLIST ForumTopic id ID #REQUIRED>
<!ELEMENT umbHomepage ANY>
<!ATTLIST umbHomepage id ID #REQUIRED>
<!ELEMENT umbNewsArea ANY>
<!ATTLIST umbNewsArea id ID #REQUIRED>
<!ELEMENT umbNewsArticle ANY>
<!ATTLIST umbNewsArticle id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>

]>
<root id="-1">
  <CLC-Homepage id="1154" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1148" template="1137" sortOrder="3" createDate="2012-03-14T09:58:36" updateDate="2012-03-14T13:46:55" nodeName="Creative Learning Community" urlName="creative-learning-community" writerName="admin" creatorName="admin" path="-1,1154" isDoc="">
    <forumTopicsPerPage>10</forumTopicsPerPage>
    <forumPostsPerPage>50</forumPostsPerPage>
    <forumClosed>0</forumClosed>
    <karmaPointsAddedPerPost>2</karmaPointsAddedPerPost>
    <karmaPointsAddedForThumbsUp>2</karmaPointsAddedForThumbsUp>
    <pageTitle>Creative Learning Community</pageTitle>
    <metaDescription><![CDATA[test]]></metaDescription>
    <forumName>Creative Learning Community</forumName>
    <forumKarmaAllowedToVoteAmount>0</forumKarmaAllowedToVoteAmount>
    <forumEnableKarma>1</forumEnableKarma>
    <forumAdminEmail>w.thomassen@salticus.nl</forumAdminEmail>
    <forumNotificationReplyEmail>w.thomassen@salticus.nl</forumNotificationReplyEmail>
    <forumEnableAjaxPostSnippets>1</forumEnableAjaxPostSnippets>
    <forumEnableMemberReporting>0</forumEnableMemberReporting>
    <forumEnablePrivateMessaging>1</forumEnablePrivateMessaging>
    <forumPrivateMessageFloodControl>10</forumPrivateMessageFloodControl>
    <forumEnableRSSFeeds>0</forumEnableRSSFeeds>
    <forumEnableMarkAsSolution>1</forumEnableMarkAsSolution>
    <forumEnableSpamReporting>0</forumEnableSpamReporting>
    <forumEnableTopicEmailSubscriptions>0</forumEnableTopicEmailSubscriptions>
    <forumManuallyAuthoriseNewMembers>0</forumManuallyAuthoriseNewMembers>
    <forumEmailAdminOnNewMemberSignUp>0</forumEmailAdminOnNewMemberSignUp>
    <CLC-Membergroup id="1155" parentID="1154" level="2" writerID="0" creatorID="0" nodeType="1149" template="1139" sortOrder="1" createDate="2012-03-14T10:03:56" updateDate="2012-03-14T13:46:55" nodeName="Economie" urlName="economie" writerName="admin" creatorName="admin" path="-1,1154,1155" isDoc="">
      <forumCategoryDescription><![CDATA[]]></forumCategoryDescription>
      <forumCategoryIsPrivate>0</forumCategoryIsPrivate>
      <pageTitle>
      </pageTitle>
      <metaDescription><![CDATA[]]></metaDescription>
      <forumCategoryIsMainCategory>1</forumCategoryIsMainCategory>
      <forumCategoryPermissionKarmaAmount>0</forumCategoryPermissionKarmaAmount>
      <forumCategoryPostPermissionKarmaAmount>0</forumCategoryPostPermissionKarmaAmount>
      <forumCategorySubscribedList>
      </forumCategorySubscribedList>
      <forumCategoryParentID>
      </forumCategoryParentID>
      <ForumDateFolder id="1167" parentID="1155" level="3" writerID="0" creatorID="0" nodeType="1099" template="0" sortOrder="4" createDate="2012-03-14T14:39:02" updateDate="2012-03-14T14:39:03" nodeName="2012" urlName="2012" writerName="admin" creatorName="admin" path="-1,1154,1155,1167" isDoc="">
        <ForumDateFolder id="1168" parentID="1167" level="4" writerID="0" creatorID="0" nodeType="1099" template="0" sortOrder="1" createDate="2012-03-14T14:39:03" updateDate="2012-03-14T14:39:03" nodeName="3" urlName="3" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168" isDoc="">
          <CLC-Discussion id="1166" parentID="1168" level="5" writerID="0" creatorID="0" nodeType="1150" template="1145" sortOrder="0" createDate="2012-03-14T14:39:02" updateDate="2012-03-14T14:49:43" nodeName="Italie failliet" urlName="italie-failliet" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1166" isDoc="">
            <forumTopicOwnedBy>1122</forumTopicOwnedBy>
            <forumTopicSubscribedList>1122|</forumTopicSubscribedList>
            <pageTitle>
            </pageTitle>
            <metaDescription><![CDATA[]]></metaDescription>
            <forumTopicClosed>0</forumTopicClosed>
            <forumTopicSolved>0</forumTopicSolved>
            <forumTopicIsSticky>0</forumTopicIsSticky>
            <forumTopicLastPostDate>2012-03-14T14:39:00</forumTopicLastPostDate>
            <forumTopicParentCategoryID>1155</forumTopicParentCategoryID>
            <CLC-Post id="1169" parentID="1166" level="6" writerID="0" creatorID="0" nodeType="1151" template="1086" sortOrder="0" createDate="2012-03-14T14:39:03" updateDate="2012-03-14T14:39:04" nodeName="Italie failliet" urlName="italie-failliet" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1166,1169" isDoc="">
              <forumPostContent><![CDATA[&#13;&#10;&lt;p&gt;Komt een gynaecoloog bij het reisbureau, zegt ie &amp;quot;geen italie!&amp;quot;&lt;/p&gt;&#13;&#10;]]></forumPostContent>
              <forumPostOwnedBy>1122</forumPostOwnedBy>
              <forumPostLastEdited>
              </forumPostLastEdited>
              <forumPostKarma>0</forumPostKarma>
              <forumPostInReplyTo>
              </forumPostInReplyTo>
              <forumPostIsSolution>
              </forumPostIsSolution>
              <forumPostUsersVoted>
              </forumPostUsersVoted>
              <pageTitle>
              </pageTitle>
              <metaDescription><![CDATA[]]></metaDescription>
              <forumPostIsTopicStarter>1</forumPostIsTopicStarter>
              <forumPostParentID>1166</forumPostParentID>
            </CLC-Post>
          </CLC-Discussion>
          <CLC-Discussion id="1177" parentID="1168" level="5" writerID="0" creatorID="0" nodeType="1150" template="0" sortOrder="0" createDate="2012-03-14T15:08:05" updateDate="2012-03-14T15:08:08" nodeName="Pino is blauw" urlName="pino-is-blauw" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1177" isDoc="">
            <forumTopicOwnedBy>1122</forumTopicOwnedBy>
            <forumTopicSubscribedList>1122|</forumTopicSubscribedList>
            <pageTitle>
            </pageTitle>
            <metaDescription><![CDATA[]]></metaDescription>
            <forumTopicClosed>
            </forumTopicClosed>
            <forumTopicSolved>
            </forumTopicSolved>
            <forumTopicIsSticky>
            </forumTopicIsSticky>
            <forumTopicLastPostDate>2012-03-14T15:08:08</forumTopicLastPostDate>
            <forumTopicParentCategoryID>1155</forumTopicParentCategoryID>
            <CLC-Post id="1178" parentID="1177" level="6" writerID="0" creatorID="0" nodeType="1151" template="1086" sortOrder="0" createDate="2012-03-14T15:08:08" updateDate="2012-03-14T15:08:09" nodeName="Pino is blauw" urlName="pino-is-blauw" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1177,1178" isDoc="">
              <forumPostContent><![CDATA[&#13;&#10;&lt;p&gt;Pino is blauw maar dat hoort geel te zijn,.. dussss denk eraan.&lt;/p&gt;&#13;&#10;]]></forumPostContent>
              <forumPostOwnedBy>1122</forumPostOwnedBy>
              <forumPostLastEdited>
              </forumPostLastEdited>
              <forumPostKarma>0</forumPostKarma>
              <forumPostInReplyTo>
              </forumPostInReplyTo>
              <forumPostIsSolution>
              </forumPostIsSolution>
              <forumPostUsersVoted>
              </forumPostUsersVoted>
              <pageTitle>
              </pageTitle>
              <metaDescription><![CDATA[]]></metaDescription>
              <forumPostIsTopicStarter>1</forumPostIsTopicStarter>
              <forumPostParentID>1177</forumPostParentID>
            </CLC-Post>
          </CLC-Discussion>
          <CLC-Discussion id="1170" parentID="1168" level="5" writerID="0" creatorID="0" nodeType="1150" template="1145" sortOrder="0" createDate="2012-03-14T14:46:29" updateDate="2012-03-14T14:50:28" nodeName="Test Flood" urlName="test-flood" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1170" isDoc="">
            <forumTopicOwnedBy>1122</forumTopicOwnedBy>
            <forumTopicSubscribedList>1122|</forumTopicSubscribedList>
            <pageTitle>
            </pageTitle>
            <metaDescription><![CDATA[]]></metaDescription>
            <forumTopicClosed>0</forumTopicClosed>
            <forumTopicSolved>0</forumTopicSolved>
            <forumTopicIsSticky>0</forumTopicIsSticky>
            <forumTopicLastPostDate>2012-03-14T14:50:27</forumTopicLastPostDate>
            <forumTopicParentCategoryID>1155</forumTopicParentCategoryID>
            <CLC-Post id="1171" parentID="1170" level="6" writerID="0" creatorID="0" nodeType="1151" template="1086" sortOrder="0" createDate="2012-03-14T14:46:30" updateDate="2012-03-14T14:46:30" nodeName="Test Flood" urlName="test-flood" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1170,1171" isDoc="">
              <forumPostContent><![CDATA[&#13;&#10;&lt;p&gt;Test&lt;/p&gt;&#13;&#10;]]></forumPostContent>
              <forumPostOwnedBy>1122</forumPostOwnedBy>
              <forumPostLastEdited>
              </forumPostLastEdited>
              <forumPostKarma>0</forumPostKarma>
              <forumPostInReplyTo>
              </forumPostInReplyTo>
              <forumPostIsSolution>
              </forumPostIsSolution>
              <forumPostUsersVoted>
              </forumPostUsersVoted>
              <pageTitle>
              </pageTitle>
              <metaDescription><![CDATA[]]></metaDescription>
              <forumPostIsTopicStarter>1</forumPostIsTopicStarter>
              <forumPostParentID>1170</forumPostParentID>
            </CLC-Post>
            <CLC-Post id="1172" parentID="1170" level="6" writerID="0" creatorID="0" nodeType="1151" template="1086" sortOrder="0" createDate="2012-03-14T14:50:27" updateDate="2012-03-14T14:50:28" nodeName="Wilko - 14-3-2012 - 14:50" urlName="wilko-14-3-2012-1450" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1170,1172" isDoc="">
              <forumPostContent><![CDATA[&#13;&#10;&lt;p&gt;Dit is relaxed man!!&lt;/p&gt;&#13;&#10;]]></forumPostContent>
              <forumPostOwnedBy>1122</forumPostOwnedBy>
              <forumPostLastEdited>
              </forumPostLastEdited>
              <forumPostKarma>0</forumPostKarma>
              <forumPostInReplyTo>
              </forumPostInReplyTo>
              <forumPostIsSolution>
              </forumPostIsSolution>
              <forumPostUsersVoted>
              </forumPostUsersVoted>
              <pageTitle>
              </pageTitle>
              <metaDescription><![CDATA[]]></metaDescription>
              <forumPostIsTopicStarter>0</forumPostIsTopicStarter>
              <forumPostParentID>1170</forumPostParentID>
            </CLC-Post>
          </CLC-Discussion>
          <CLC-Discussion id="1173" parentID="1168" level="5" writerID="0" creatorID="0" nodeType="1150" template="1145" sortOrder="0" createDate="2012-03-14T14:56:35" updateDate="2012-03-14T14:59:56" nodeName="Wasmachines worden steeds duurder" urlName="wasmachines-worden-steeds-duurder" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1173" isDoc="">
            <forumTopicOwnedBy>1122</forumTopicOwnedBy>
            <forumTopicSubscribedList>1122|</forumTopicSubscribedList>
            <pageTitle>
            </pageTitle>
            <metaDescription><![CDATA[]]></metaDescription>
            <forumTopicClosed>0</forumTopicClosed>
            <forumTopicSolved>0</forumTopicSolved>
            <forumTopicIsSticky>0</forumTopicIsSticky>
            <forumTopicLastPostDate>2012-03-14T14:58:00</forumTopicLastPostDate>
            <forumTopicParentCategoryID>1155</forumTopicParentCategoryID>
            <CLC-Post id="1174" parentID="1173" level="6" writerID="0" creatorID="0" nodeType="1151" template="1086" sortOrder="0" createDate="2012-03-14T14:58:33" updateDate="2012-03-14T14:58:41" nodeName="Wasmachines worden steeds duurder" urlName="wasmachines-worden-steeds-duurder" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1173,1174" isDoc="">
              <forumPostContent><![CDATA[&#13;&#10;&lt;p&gt;Ja, dat is zeker het geval&lt;/p&gt;&#13;&#10;]]></forumPostContent>
              <forumPostOwnedBy>1122</forumPostOwnedBy>
              <forumPostLastEdited>
              </forumPostLastEdited>
              <forumPostKarma>0</forumPostKarma>
              <forumPostInReplyTo>
              </forumPostInReplyTo>
              <forumPostIsSolution>
              </forumPostIsSolution>
              <forumPostUsersVoted>
              </forumPostUsersVoted>
              <pageTitle>
              </pageTitle>
              <metaDescription><![CDATA[]]></metaDescription>
              <forumPostIsTopicStarter>1</forumPostIsTopicStarter>
              <forumPostParentID>1173</forumPostParentID>
            </CLC-Post>
          </CLC-Discussion>
          <CLC-Discussion id="1179" parentID="1168" level="5" writerID="0" creatorID="0" nodeType="1150" template="0" sortOrder="0" createDate="2012-03-14T15:10:47" updateDate="2012-03-14T15:10:47" nodeName="Apen zijn slecht voor de economie" urlName="apen-zijn-slecht-voor-de-economie" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1179" isDoc="">
            <forumTopicOwnedBy>1122</forumTopicOwnedBy>
            <forumTopicSubscribedList>1122|</forumTopicSubscribedList>
            <pageTitle>
            </pageTitle>
            <metaDescription><![CDATA[]]></metaDescription>
            <forumTopicClosed>
            </forumTopicClosed>
            <forumTopicSolved>
            </forumTopicSolved>
            <forumTopicIsSticky>
            </forumTopicIsSticky>
            <forumTopicLastPostDate>2012-03-14T15:10:47</forumTopicLastPostDate>
            <forumTopicParentCategoryID>1155</forumTopicParentCategoryID>
            <CLC-Post id="1180" parentID="1179" level="6" writerID="0" creatorID="0" nodeType="1151" template="1086" sortOrder="0" createDate="2012-03-14T15:10:47" updateDate="2012-03-14T15:10:48" nodeName="Apen zijn slecht voor de economie" urlName="apen-zijn-slecht-voor-de-economie" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1179,1180" isDoc="">
              <forumPostContent><![CDATA[&#13;&#10;&lt;p&gt;Dat je het maar effe weet... &lt;img src=&quot;/nforum/emoticons/smiley-eek-blue.png&quot; alt=&quot;smiley eek blue&quot;&gt;&lt;/p&gt;&#13;&#10;]]></forumPostContent>
              <forumPostOwnedBy>1122</forumPostOwnedBy>
              <forumPostLastEdited>
              </forumPostLastEdited>
              <forumPostKarma>0</forumPostKarma>
              <forumPostInReplyTo>
              </forumPostInReplyTo>
              <forumPostIsSolution>
              </forumPostIsSolution>
              <forumPostUsersVoted>
              </forumPostUsersVoted>
              <pageTitle>
              </pageTitle>
              <metaDescription><![CDATA[]]></metaDescription>
              <forumPostIsTopicStarter>1</forumPostIsTopicStarter>
              <forumPostParentID>1179</forumPostParentID>
            </CLC-Post>
          </CLC-Discussion>
          <CLC-Discussion id="1181" parentID="1168" level="5" writerID="0" creatorID="0" nodeType="1150" template="1145" sortOrder="0" createDate="2012-03-14T15:15:44" updateDate="2012-03-14T15:16:05" nodeName="Ieniemienie zegt dat de economie steeds beter gaat" urlName="ieniemienie-zegt-dat-de-economie-steeds-beter-gaat" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1181" isDoc="">
            <forumTopicOwnedBy>1122</forumTopicOwnedBy>
            <forumTopicSubscribedList>1122|</forumTopicSubscribedList>
            <pageTitle>
            </pageTitle>
            <metaDescription><![CDATA[]]></metaDescription>
            <forumTopicClosed>
            </forumTopicClosed>
            <forumTopicSolved>
            </forumTopicSolved>
            <forumTopicIsSticky>
            </forumTopicIsSticky>
            <forumTopicLastPostDate>2012-03-14T15:16:04</forumTopicLastPostDate>
            <forumTopicParentCategoryID>1155</forumTopicParentCategoryID>
            <CLC-Post id="1182" parentID="1181" level="6" writerID="0" creatorID="0" nodeType="1151" template="1086" sortOrder="0" createDate="2012-03-14T15:15:44" updateDate="2012-03-14T15:15:45" nodeName="Ieniemienie zegt dat de economie steeds beter gaat" urlName="ieniemienie-zegt-dat-de-economie-steeds-beter-gaat" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1181,1182" isDoc="">
              <forumPostContent><![CDATA[&#13;&#10;&lt;p&gt;En wij geloven daar niets van!&lt;/p&gt;&#13;&#10;]]></forumPostContent>
              <forumPostOwnedBy>1122</forumPostOwnedBy>
              <forumPostLastEdited>
              </forumPostLastEdited>
              <forumPostKarma>0</forumPostKarma>
              <forumPostInReplyTo>
              </forumPostInReplyTo>
              <forumPostIsSolution>
              </forumPostIsSolution>
              <forumPostUsersVoted>
              </forumPostUsersVoted>
              <pageTitle>
              </pageTitle>
              <metaDescription><![CDATA[]]></metaDescription>
              <forumPostIsTopicStarter>1</forumPostIsTopicStarter>
              <forumPostParentID>1181</forumPostParentID>
            </CLC-Post>
            <CLC-Post id="1183" parentID="1181" level="6" writerID="0" creatorID="0" nodeType="1151" template="1086" sortOrder="0" createDate="2012-03-14T15:16:04" updateDate="2012-03-14T15:16:04" nodeName="Wilko - 14-3-2012 - 15:16" urlName="wilko-14-3-2012-1516" writerName="admin" creatorName="admin" path="-1,1154,1155,1167,1168,1181,1183" isDoc="">
              <forumPostContent><![CDATA[&#13;&#10;&lt;p&gt;Grote letters zeg hier!!&lt;/p&gt;&#13;&#10;]]></forumPostContent>
              <forumPostOwnedBy>1122</forumPostOwnedBy>
              <forumPostLastEdited>
              </forumPostLastEdited>
              <forumPostKarma>0</forumPostKarma>
              <forumPostInReplyTo>
              </forumPostInReplyTo>
              <forumPostIsSolution>
              </forumPostIsSolution>
              <forumPostUsersVoted>
              </forumPostUsersVoted>
              <pageTitle>
              </pageTitle>
              <metaDescription><![CDATA[]]></metaDescription>
              <forumPostIsTopicStarter>0</forumPostIsTopicStarter>
              <forumPostParentID>1181</forumPostParentID>
            </CLC-Post>
          </CLC-Discussion>
        </ForumDateFolder>
      </ForumDateFolder>
    </CLC-Membergroup>
    <CLC-Membergroup id="1156" parentID="1154" level="2" writerID="0" creatorID="0" nodeType="1149" template="1139" sortOrder="2" createDate="2012-03-14T10:04:35" updateDate="2012-03-14T13:46:55" nodeName="Wetenschap" urlName="wetenschap" writerName="admin" creatorName="admin" path="-1,1154,1156" isDoc="">
      <forumCategoryDescription><![CDATA[]]></forumCategoryDescription>
      <forumCategoryIsPrivate>0</forumCategoryIsPrivate>
      <pageTitle>
      </pageTitle>
      <metaDescription><![CDATA[]]></metaDescription>
      <forumCategoryIsMainCategory>1</forumCategoryIsMainCategory>
      <forumCategoryPermissionKarmaAmount>0</forumCategoryPermissionKarmaAmount>
      <forumCategoryPostPermissionKarmaAmount>0</forumCategoryPostPermissionKarmaAmount>
      <forumCategorySubscribedList>
      </forumCategorySubscribedList>
      <forumCategoryParentID>
      </forumCategoryParentID>
    </CLC-Membergroup>
    <CLC-Membergroup id="1157" parentID="1154" level="2" writerID="0" creatorID="0" nodeType="1149" template="1139" sortOrder="3" createDate="2012-03-14T10:05:04" updateDate="2012-03-14T13:46:55" nodeName="Techniek" urlName="techniek" writerName="admin" creatorName="admin" path="-1,1154,1157" isDoc="">
      <forumCategoryDescription><![CDATA[]]></forumCategoryDescription>
      <forumCategoryIsPrivate>0</forumCategoryIsPrivate>
      <pageTitle>
      </pageTitle>
      <metaDescription><![CDATA[]]></metaDescription>
      <forumCategoryIsMainCategory>1</forumCategoryIsMainCategory>
      <forumCategoryPermissionKarmaAmount>0</forumCategoryPermissionKarmaAmount>
      <forumCategoryPostPermissionKarmaAmount>0</forumCategoryPostPermissionKarmaAmount>
      <forumCategorySubscribedList>
      </forumCategorySubscribedList>
      <forumCategoryParentID>
      </forumCategoryParentID>
    </CLC-Membergroup>
    <CLC-Membergroup id="1158" parentID="1154" level="2" writerID="0" creatorID="0" nodeType="1149" template="1139" sortOrder="4" createDate="2012-03-14T10:05:41" updateDate="2012-03-14T13:46:55" nodeName="Biologie" urlName="biologie" writerName="admin" creatorName="admin" path="-1,1154,1158" isDoc="">
      <forumCategoryDescription><![CDATA[]]></forumCategoryDescription>
      <forumCategoryIsPrivate>0</forumCategoryIsPrivate>
      <pageTitle>
      </pageTitle>
      <metaDescription><![CDATA[]]></metaDescription>
      <forumCategoryIsMainCategory>1</forumCategoryIsMainCategory>
      <forumCategoryPermissionKarmaAmount>0</forumCategoryPermissionKarmaAmount>
      <forumCategoryPostPermissionKarmaAmount>0</forumCategoryPostPermissionKarmaAmount>
      <forumCategorySubscribedList>
      </forumCategorySubscribedList>
      <forumCategoryParentID>
      </forumCategoryParentID>
    </CLC-Membergroup>
  </CLC-Homepage>
</root>