.grid_12.full
{
	width: 960px;
	margin-left: 0px;
	margin-right: 0px;
}

html
{
	font-family: Calibri, Arial, Sans-Serif;
	font-size: 14px;	
	
	background-image: url('../Images/background_website.png');
	background-position: center top;
	background-repeat: no-repeat;
}

h3
{
	font-size: 25px;
}

.kaffeeSatz
{
	font-family: 'YanoneKaffeesatzRegular';
}

b, strong
{
	font-weight: bold;
}

a
{
	text-decoration: underline;
}

.c1
{
	color: #0077bd;
}

.c2
{
	color: #000000;
}

#mainContainer
{
	margin-top: 20px;
	margin-bottom: 20px;
	
	background-image: url('../Images/background_content.png');
	background-position: left top;
	background-repeat: repeat;
}

#headerContainer
{
	height: 100px;	
	margin-top: 15px;
}

#header
{
	float: left;
	padding-right: 80px;
	
	background-image: url('../Images/logo_clc.png');
	background-position: right center;
	background-repeat: no-repeat;
}

#header .headerTitle, #header .headerSubTitle
{
	display: block;
}

#header .headerTitle
{
	font-size: 45px;
}

#header .headerSubTitle
{
	font-size: 25px;
}

#searchContainer
{
	float: right;
}

#mainMenuContainer
{
	height: 26px;
	
	background-color: #242424;
}

.mainMenu
{
	float: left;
	height: 26px;
}

.mainMenu li
{
	float: left;
	height: 26px;
}

.mainMenu a, .mainMenu span, .loginContainer span, .loginContainer a
{
	color: #ffffff;
	text-decoration: none;
	line-height: 26px;
	text-transform: lowercase;
}

.mainMenu a:hover, .loginContainer a:hover
{
	text-decoration: underline;
}

.mainMenu span
{
	margin-left: 15px;
	margin-right: 15px;
}

.loginContainer
{
	float: right;
}

.loginContainer span
{
	margin-left: 5px;
	margin-right: 5px;
}

#searchText
{
	float: left;
	height: 23px;
	width: 125px;
	padding-left: 5px;
	
	border: 0px none;
}

#searchButton
{
	float: left;
	width: 21px;
	height: 23px;
	cursor: pointer;
	
	border: 0px none;
	background-image: url('../Images/button_zoeken.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #ffffff;
}

#brandboxContainer
{
	margin-top: 15px;
	height: 200px;
	position: relative;
}

.brandboxItem
{
	height: 100%;
}

.brandboxItemTitle, .brandboxItemText
{
	height: 180px;
	overflow: hidden;
}

.brandboxItemTitle h2
{
	font-size: 60px;
	line-height: 60px;
}

.brandboxItemText span
{
	font-size: 25px;
	line-height: 35px;
}

#brandboxPager
{
	position: absolute;
	height: 12px;
	bottom: 15px;
	right: 15px;
}

.brandboxPagerItem
{
	float: left;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	cursor: pointer;
	position: relative;
	z-index: 500;
	
	background-color: #000000;
}

.brandboxPagerItem.activeSlide
{
	background-color: #929292;
}

.fatBorder
{
	padding-top: 5px;
	
	border-top: 5px solid #242424;
}

.thinBorder
{
	border-bottom: 1px solid #585858;
}

.topicSummary
{
	cursor: pointer;
	padding-top: 15px;
	padding-bottom: 15px;
}

.topicSummary span, .topicSummary b, .topicSummary a
{
	float: left;
	width: 100%;
}

.topicHeader
{
	font-weight: bold;
	text-decoration: none;
}

.topicSummary:hover .topicHeader
{
	text-decoration: underline;
}

.topicSummary:hover
{
	background-image: url('../Images/topicsummary_hover_bg.png');
	background-repeat: repeat;
	background-position: left top;
}

#footerContainer
{
	height: 165px;
	margin-top: 15px;

	background-color: #242424;
}

#footerMenu
{
	margin-top: 20px;
	padding-top: 15px;
	
	border-top: 1px solid #ffffff;
}

#copyrightContainer
{
	float: left;
	margin-top: 40px;
	width: 100%;
	text-align: center;
	color: #ffffff;
}

#crossReferencesContainer a
{
	text-decoration: none;
}

#crossReferencesContainer a:hover
{
	text-decoration: underline;
}

#crossReferencesContainer ul
{
	margin-top: 15px;
	margin-bottom: 15px;
}

.relevantTopic
{
	margin-bottom: 15px;
}