#options
{
    float: left;
}

#options .button
{
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	width: 100%;
}

.button
{
    text-align: center;    
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    
    background-color: #0076BC;
    border: 1px solid #404040; 
}

#controlforms .button
{
    padding-left: 10px;
    padding-right: 10px;
}

#resultinfo
{
    width: 100%;
    color: #FF0000;
    font-size: 20px;
}
fieldset
{
    border: 1px solid #000;
    padding: 10px;
}
fieldset legend
{
    font-weight: bold;
}
.halfpage
{
    width: 50%;   
    float: left;
}
.selectedsearchresult
{
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    background-image: url('clc/topicsummary_hover_bg.png');
    background-repeat: repeat;
    width: 100%;    
    float: left;
    border: 1px solid #5972FF;
    
}
.normalsearchresult
{
    color: #404040;
}
.setmembercontainer
{
    padding: 15px;
    width: 100%;
    float: left;
}